/* RESET */
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic */
body{

  color: white;
  font-family: 'DM Sans', sans-serif;
  background-color: black;
}

/* Column Alignment */
.column-align{

  height: 100%;
  justify-content: space-between;
  align-items: center;
}
/* Buttons */
.button{

  margin-right: 4px;
  margin-top: 5px;
  font-family: 'DM Sans', sans-serif;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
  color: white;
}

/* Container */
.container{

  width: 90%;
  margin: 0 auto;
  
}

.display-flex{

  flex-wrap: wrap;
  display: flex;
}

ul{

  list-style-type: none;
  height: 100%;
}

/* HEADER */
header{
  height: 50px;
}
.nav-header{

  text-align: right;
}

/* MAIN */
main{

  height: calc(100vh - 120px);
  overflow: auto;
}

/* Main img */
.image div{

  margin: 10px 3px;
  position: relative;
}

.image span{

  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px ;
}

/* FOOTER */
footer{

  height: 70px;
  background-color: #222222;
}

/* Footer List */
li span{

  display: block;
  padding-top: 5px;
}

li{

  font-size: 12px;
  text-align: center;
  padding: 0 10px;
  vertical-align: middle;
}

/* Footer button */
.end-button{
  padding: 0 20px;
  line-height: 70px;
  color: red;
  font-size: 13px;
  text-decoration: none;
}

/* Color */
.bg-grey{
  background-color: #4a4a4a;
}

.green{
  color: #4cc800;
}